@media (max-width: 860px) {
    .container-text {
        padding-left: 40px;
        padding-right: 40px;
        text-align: left;
    }

    .card-product {
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .card {
        width: 300px;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
        overflow: hidden;
        border-radius: 12px;
    }

    .image img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}